* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #990909;
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  padding: 18px 0 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  letter-spacing: 5px;
}

.logo_line {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #990909, #990909, #fff, #990909, #990909);
}

.menu {
  background-color: #000;
  margin: 0 auto;
  width: 930px;
  text-align: center;
}

.menu .item {
  display: inline-block;
  padding: 20px 20px 4px;
  color: #fff;
  text-align: center;
}

.menu .item a img {
  width: 180px;
  height: 120px;
  padding: 0 10px;
}

.menu .item a {
  color: #fff;
}

.left_nav {
  display: inline-block;
  vertical-align: top;
  background-color: #7d0909;
  width: 200px;
  height: 286px;
  margin: 2px 0 20px 10px;
}

.left_nav ul {
  list-style: none;
}

.left_nav ul li {
  margin-bottom: 20px;
}

.left_nav ul li a {
  color: #df5611;
}

main {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

main .content {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding-top: 20px;
  width: 570px;
}

main .content h2 {
  font-size: 18px;
}

.title {
  display: inline-block;
  width: 150px;
  background-color: #e3dddd;
}

.title .title_head {
  text-align: center;
  background-color: #bdbdbd;
  font-size: 11px;
  margin-bottom: 8px;
}

.title_item {
  padding: 15px 0;
}

.title hr {
  margin: 0 auto;
  width: 80px;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #e95b11;
  margin: 0 10px;
}