* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1c1c;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

#features {
  padding: 108px 0 100px;
}

#features_list {
  list-style: none;
}

#features_list li {
  display: inline-block;
  width: 33.3333%;
  margin: 0 -2px;
  padding: 0 20px;
  text-align: center;
}

.icon_wrapper {
  width: 80px;
  height: 80px;
  background-color: #ffae00;
  border-radius: 20px 0;
  text-align: center;
  margin: 0 auto;
  line-height: 80px;
  margin-bottom: 40px;
}

.icon_wrapper img {
  vertical-align: middle;
}

.list_item h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

footer {
  height: 420px;
  background-color: #121116;
  padding: 120px 0 40px;
}

#logo {
  text-align: center;
  margin-bottom: 40px;
}

#social {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
}

#social p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}

#social hr {
  margin: 0 auto;
  width: 230px;
  margin-bottom: 14px;
}

#social_icons {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 78px;
}

#social_icons li {
  display: inline-block;
  padding: 0 14px;
  width: 42px;
}

#social_icons li a img {
  vertical-align: middle;
}

#copyright {
  font-family: 'Open Sans', sans-serif;
}

#copyright p {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

#copyright p a {
  text-decoration: none;
  color: #19c8fa;
}