* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.top_nav {
  background: linear-gradient(to top, #bc096f, #bd076e);
}

.top_nav_item {
  display: inline-block;
  position: relative;
  left: 10%;
  height: 47px;
}

#picked.top_nav_item {
  background-color: #770444;
}

.top_nav_item a {
  color: #fff;
  padding: 5px 15px;
  line-height: 48px;
  text-decoration: none;
}

.header {
  height: 261px;
  background-color: #000;
  position: relative;
}

.banner,
.logo {
  position: absolute;
}

.banner {
  left: 50%;
}

.logo {
  top: 85px;
  left: 30%;
  color: #fff;
}

.logo .swanky {
  font-size: 60px;
  letter-spacing: -6px;
}

.logo .sub {
  color: #b40960;
}

.container {
  margin: 0 auto;
  padding: 27px 48px 19px 48px;
  width: 90%;
  max-width: 1000px;
}

main {
  display: inline-block;
}

.articles_block {
  display: inline-block;
  width: 420px;
}

.article_item {
  display: inline-block;
  padding: 25px 0 0 12px;
}

.article_head {
  color: #b40960;
  font-size: 28px;
  letter-spacing: -2px
}

.article_posted {
  margin-top: 12px;
  color: #e2e4e6;
  font-size: 8px;
}

.article_posted a {
  color: #b40960;
  text-decoration: none;
}

.article_text {
  color: #8c858e;
  font-size: 14px;
  margin-top: 26px;
  padding-right: 16px;
  word-spacing: 8px;
  line-height: 20px;
}

.article_text strong {
  color: #6a686e;
}

.comments {
  margin-top: 32px;
}

.comments a {
  font-size: 12px;
  color: #b40960;
  text-decoration: none;
  margin-right: 20px;
}

.tag {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 8px;
  font-size: 11px;
}

.tag p {
  color: #6a686e;
}

.tag a {
  text-decoration: none;
  color: #b40960;
}

.posts {
  display: inline-block;
  vertical-align: top;
  margin-left: -6px;
  width: 250px;
  background-color: #f2f2f2;
  padding: 15px 15px 34px 15px;
}

.resent_head {
  color: #b40960;
  font-size: 14px;
  letter-spacing: -1px;
}

.post_head {
  display: inline-block;
  padding: 2px 18px;
  margin-top: 30px;
  background-color: #bb096b;
  font-size: 12px;
  color: #fff;
}

.post_text {
  margin: 18px 0;
  font-size: 12px;
  word-spacing: 8px;
  line-height: 18px;
  color: #8c858e;
}

.post_line {
  background-color: rgb(228, 228, 228); 
  height: 1px; 
  border: 0;
}

.side_nav {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  padding: 14px 0 0 14px;
}

.side_nav_head {
  color: #b40960;
  font-size: 14px;
  letter-spacing: -1px;
}

.side_nav_item {
  margin-bottom: 54px;
}

.side_nav_links {
  margin: 18px 0 0 24px;
}

.side_nav_links ul li {
  margin-bottom: 9px;
  font-size: 8px;
}

.side_nav_links ul li a {
  text-decoration: none;
  font-size: 10px;
  color: #b40960;
}

footer {
  background-color: #000;
  height: 140px;
  text-align: center;
}

.footer_text {
  padding-top: 38px;
  color: #fff;
  font-size: 10px;
}

.footer_text span {
  padding: 3px 5px;
  background-color: #b40960;
}
